.product {
  border: 1px solid rgb(209, 209, 209);
  padding: 8px 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-img {
  width: 100%; /* Make the image responsive */
  height: 320px; /* Maintain aspect ratio */
  border-radius: 8px 8px 0 0; /* Rounded corners for the top */
}

.btn-div {
  display: flex;
  justify-content: center;
}

.add-to-cart {
  background-color: #3944bc;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer; /* Add cursor pointer */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3944bc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
